<app-header-bar [isMainHeader]="false"
                backgroundImgSrc="../../../assets/img/log-cabin/log-cabin-bedroom-main-veranda.jpg"
                headerSummary="COSY LOG CHALETS WITH BREATHTAKING SEA VIEWS"></app-header-bar>

<app-amenities bookingLink="/booking"
               [amenities]="features"
               overview="These chalets have been handcrafted on site from solid logs.">
</app-amenities>

<app-accommodation-carousel [images]="imageSrcList"></app-accommodation-carousel>

<div class="page-padding">
  <div class="margin-xhuge">
    <h2>Other Accommodation</h2>
  </div>
</div>
<app-accommodation-option-large-grid [hasLogCabin]="false"></app-accommodation-option-large-grid>

<app-footer></app-footer>