@use '../../accommodation.component.scss';

.accommodation-type_item {
  display: flex;
  margin: 5rem 0;
}

.accommodation-type_item-odd {
  flex-direction: row-reverse;
}

.accommodation-type_item-even {
  flex-direction: row;
}

.accommodation-type_content {
  width: 100%;
  margin: 1.5rem;
  min-width: 12rem;
}

.accommodation-type_image-wrapper {
  max-width: 30rem;
  margin: 1.5rem;
}

.accommodation-type_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .accommodation-type_item {
    display: block;
  }
}