<app-header-bar></app-header-bar>

<app-amenities bookingLink="/booking"
               [amenities]="features"
               overview="All our beach cottages have fantastic sea views with their own private, natural
setting. Our beach cottages have 2 bedrooms, a lounge / dining area, bathroom, kitchen and own braai area.">
</app-amenities>

<app-accommodation-carousel [images]="imageSrcList"></app-accommodation-carousel>

<div class="container-large">
  <div class="padding-vertical padding-xhuge">
    <div class="page-padding">
      <div class="margin-bottom margin-xhuge">
        <h2>Other Accommodation</h2>
      </div>
    </div>
    <div class="a-item-accomodation_component">
      <div class="accommodation_component">
        <div class="accommodation_list">

          <app-accommodation-option-large class="container-large"
                                          backgroundImgSource="../../../assets/img/log-cabin/log-cabin-veranda.jpg"
                                          accommodationDescription="Cosy beach chalets."
                                          accommodationTitle="LOG CABINS"
                                          routerLink="/accommodation/chalets"></app-accommodation-option-large>

          <app-accommodation-option-large class="container-large"
                                          backgroundImgSource="../../../assets/img/vermont/vermont-lounge.jpg"
                                          accommodationDescription="A luxury alternative to the log chalet."
                                          accommodationTitle="VERMONT CHALET"
                                          routerLink="/accommodation/chalets"></app-accommodation-option-large>

          <app-accommodation-option-large class="container-large"
                                          backgroundImgSource="../../../assets/img/b-and-b/b-and-b-top-coffee-view.jpg"
                                          accommodationDescription="Luxury rooms with their own entrance and great views."
                                          accommodationTitle="BED AND BREAKFAST"
                                          routerLink="/accommodation/bed-and-breakfast">
          </app-accommodation-option-large>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
