<app-header-bar></app-header-bar>

<app-amenities bookingLink="/booking"
               [amenities]="features"
               overview="All our beach cottages have fantastic sea views with their own private, natural
setting. Our beach cottages have 2 bedrooms, a lounge / dining area, bathroom, kitchen and own braai area.">
</app-amenities>

<app-accommodation-carousel [images]="imageSrcList"></app-accommodation-carousel>

<div class="container-large">
  <div class="padding-vertical padding-xhuge">
    <div class="page-padding">
      <div class="margin-bottom margin-xhuge">
        <h2>Other Accommodation</h2>
      </div>
    </div>
    <div class="a-item-accomodation_component">
      <app-accommodation-option-large-grid [hasBeachCottages]="false"></app-accommodation-option-large-grid>
    </div>
  </div>
</div>

<app-footer></app-footer>
