<app-accommodation-option-large-grid></app-accommodation-option-large-grid>

<div class="home-accommodation_options-wrapper">
  <div class="margin-bottom margin-medium">
    <h2>Accommodation options</h2>
  </div>
  <div class="home-accommodation_options-list">

    <app-accommodation-option-small backgroundImgSource="../../../assets/img/vermont/vermont-bedroom-first.jpg"
                                    accommodationTitle="EXQUISITE VERMONT CHALET WITH BREATHTAKING SEA VIEWS"
                                    routerLinkPath="/accommodation/vermont-chalet"></app-accommodation-option-small>
    <app-accommodation-option-small backgroundImgSource="../../../assets/img/log-cabin/log-cabin-coridoor.jpg"
                                    accommodationTitle="COOL, RUSTIC LOG CABINS ELEVATED ABOVE SURROUNDING BUSH"
                                    routerLinkPath="/accommodation/log-chalets"></app-accommodation-option-small>
    <app-accommodation-option-small backgroundImgSource="../../../assets/img/b-and-b/b-and-b-bottom-bed-view.jpg"
                                    accommodationTitle="BED AND BREAKFAST ACCOMMODATION OVERLOOKING THE BEACH"
                                    routerLinkPath="/accommodation/bed-and-breakfast"></app-accommodation-option-small>
    <app-accommodation-option-small backgroundImgSource="../../../assets/img/cottage/cottage-front-view.jpg"
                                    accommodationTitle="SECLUDED, SELF CATERING, SIMPLE BEACH COTTAGES"
                                    routerLinkPath="/accommodation/beach-cottages"></app-accommodation-option-small>

  </div>
</div>
