<div class="accommodation_component">
  <div class="accommodation_list">
    <div class="accommodation_item">
      <div class="accommodation_item-wrapper">
        <div class="accommodation_image-wrapper">
          <img src="../../../assets/img/log-cabin/log-cabin-veranda.jpg"
               loading="lazy"
               alt=""
               class="accommodation_image" />
        </div>
        <div class="accommodation_hover-wrapper">
          <div>
            <div class="margin-bottom margin-xxsmall">
              <h3 class="text-color-white">LOG CABINS</h3>
            </div>
            <div class="text-color-white">Luxurious beach chalets.</div>
          </div>
          <a routerLink="/accommodation/chalets"
             class="button-link with-icon is-alternate w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right-White.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
    <div class="accommodation_item">
      <div class="accommodation_item-wrapper">
        <div class="accommodation_image-wrapper">
          <img src="../../../assets/img/vermont/vermont-lounge.jpg"
               loading="lazy"
               alt=""
               class="accommodation_image" />
        </div>
        <div class="accommodation_hover-wrapper">
          <div>
            <div class="margin-bottom margin-xxsmall">
              <h3 class="text-color-white">VERMONT CHALET</h3>
            </div>
            <div class="text-color-white">A luxury alternative to the log chalet.</div>
          </div>
          <a routerLink="/accommodation/chalets"
             class="button-link with-icon is-alternate w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right-White.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
    <div class="accommodation_item">
      <div class="accommodation_item-wrapper">
        <div class="accommodation_image-wrapper">
          <img src="../../../assets/img/cottage/cottage-entrance.jpg"
               loading="lazy"
               alt=""
               class="accommodation_image" />
        </div>
        <div class="accommodation_hover-wrapper">
          <div class="margin-bottom margin-xxsmall">
            <h3 class="text-color-white">BASIC BEACH COTTAGES</h3>
          </div>
          <div class="text-color-white">Fantastic sea views in a private, natural, setting.</div>
          <a routerLink="/accommodation/beach-cottages"
             class="button-link with-icon is-alternate w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right-White.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>

    <div class="accommodation_item">
      <div class="accommodation_item-wrapper">
        <div class="accommodation_image-wrapper">
          <img src="../../../assets/img/b-and-b/b-and-b-top-coffee-view.jpg"
               loading="lazy"
               alt=""
               class="accommodation_image" />
        </div>
        <div class="accommodation_hover-wrapper">
          <div>
            <div class="margin-bottom margin-xxsmall">
              <h3 class="text-color-white">BED AND BREAKFAST</h3>
            </div>
            <div class="text-color-white">Luxury rooms with their own entrance and great views.</div>
          </div>
          <a routerLink="/accommodation/bed-and-breakfast"
             class="button-link with-icon is-alternate w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right-White.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-accommodation_options-wrapper">
  <div class="margin-bottom margin-medium">
    <h2>Accommodation options</h2>
  </div>
  <div class="home-accommodation_options-list">
    <div class="home-accommodation_options-item">
      <div class="home-accommodation_options-item-wrapper">
        <div class="home-accommodation_options-item-image-wrapper">
          <img src="../../../assets/img/vermont/vermont-bedroom-main.jpg"
               loading="lazy"
               alt=""
               class="home-accommodation_options-item-image">
        </div>
        <div class="home-accommodation_options-item-description-wrapper">
          <div class="margin-bottom margin-xxsmall">
            <h4>EXQUISITE CHALETS WITH BREATHTAKING SEA VIEWS</h4>
          </div>
          <a routerLink="/accommodation/chalets"
             class="button-link with-icon w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
    <div class="home-accommodation_options-item">
      <div class="home-accommodation_options-item-wrapper">
        <div class="home-accommodation_options-item-image-wrapper">
          <img src="../../../assets/img/cottage/cottage-front-view.jpg"
               loading="lazy"
               alt=""
               class="home-accommodation_options-item-image">
        </div>
        <div class="home-accommodation_options-item-description-wrapper">
          <div class="margin-bottom margin-xxsmall">
            <h4>SECLUDED, SELF CATERING, SIMPLE BEACH COTTAGES</h4>
          </div>
          <a routerLink="/accommodation/beach-cottages"
             class="button-link with-icon w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
    <div class="home-accommodation_options-item">
      <div class="home-accommodation_options-item-wrapper">
        <div class="home-accommodation_options-item-image-wrapper">
          <img src="../../../assets/img/b-and-b/b-and-b-bottom-bed-view.jpg"
               loading="lazy"
               alt=""
               class="home-accommodation_options-item-image">
        </div>
        <div class="home-accommodation_options-item-description-wrapper">
          <div class="margin-bottom margin-xxsmall">
            <h4>BED AND BREAKFAST ACCOMMODATION OVERLOOKING THE BEACH</h4>
          </div>
          <a routerLink="/accommodation/bed-and-breakfast"
             class="button-link with-icon w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
    <div class="home-accommodation_options-item">
      <div class="home-accommodation_options-item-wrapper">
        <div class="home-accommodation_options-item-image-wrapper">
          <img src="../../../assets/img/log-cabin/log-cabin-coridoor.jpg"
               loading="lazy"
               alt=""
               class="home-accommodation_options-item-image">
        </div>
        <div class="home-accommodation_options-item-description-wrapper">
          <div class="margin-bottom margin-xxsmall">
            <h4>COOL, RUSTIC LOG CABINS ELEVATED ABOVE SURROUNDING BUSH</h4>
          </div>
          <a routerLink="/accommodation/chalets"
             class="button-link with-icon w-inline-block">
            <div>view</div>
            <img src="../../../assets/img/svg/Chevron-Right.svg"
                 loading="lazy"
                 alt=""
                 class="icon-xxsmall">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
