//app wide classes
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.icon-x-small {
  width: 1.5rem;
  height: 1.5rem;
}

.cursor-hand {
  cursor: pointer;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.contact-link_contents {
  display: flex;
  grid-column-gap: 0.75rem;
}

.contact-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-link.align-top {
  display: inline-block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar-icon {
  display: inline;
}

.navbar-logo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar-logo {
  max-height: 10rem;
}

.navbar-logo-text {
  max-height: 2rem;
  margin-top: 1rem;
}

.w-embed:before,
.w-embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-embed:after {
  clear: both;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

.text-size-small {
  font-size: 0.875rem;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 25rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 20rem;
}

.background-color-black {
  background-color: #000;
  color: #f5f5f5;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.spacing-clean {
  margin: 0rem;
  padding: 0rem;
}

.page-padding {
  padding-right: 3rem;
  padding-left: 3rem;
}

.text-align-right {
  text-align: right;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.background-color-white {
  background-color: #fff;
}

.max-width-small {
  width: 100%;
  max-width: 30rem;
}

.form-message-error {
  margin-top: 0.75rem;
  padding: 0.75rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fit {
  width: fit-content;
  width: -moz-fit-content;
  margin-right: auto;
  margin-left: auto;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-xsmall {
  margin: 1rem;
}

.margin-small {
  margin: 1.5rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xhuge {
  margin: 7rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-xsmall {
  padding: 1rem;
}

.padding-small {
  padding: 1.5rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-xhuge {
  padding: 7rem;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-large {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-left {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-left.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-xsmall {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-small {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-medium {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-xxsmall {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-xhuge {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-right.margin-large {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-vertical {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-medium {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-xxsmall {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-xsmall {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-small {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-large {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-vertical.margin-xhuge {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-medium {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-xhuge {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-xxsmall {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-xsmall {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-large {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-horizontal.margin-small {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xhuge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-large {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xxsmall {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-medium {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xxlarge {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-small {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-top.padding-xsmall {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-small {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-large {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-medium {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-xhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-small {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-xsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-medium {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-xxsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-xxlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-left.padding-large {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-right {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-large {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-xsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-xxlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-xxsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-medium {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-xhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-right.padding-small {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-large {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-medium {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xxlarge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xxsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-small {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xxsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-medium {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xxlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-large {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-small {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.text-size-medium {
  font-size: 1.125rem;
}

.text-size-medium p {
  font-size: 1.125rem;
}

.form-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 1.125rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-color-white {
  color: #fff;
}

.text-size-large {
  font-size: 1.25rem;
}

.form-radio-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-left: -1.125rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 100px;
  cursor: pointer;
}

.form-radio-icon.w--redirected-checked {
  border-width: 6px;
  border-color: #000;
  background-color: #fff;
  background-image: none;
}

.form-radio-icon.w--redirected-focus {
  margin-top: 0px;
  border-color: #000;
  box-shadow: none;
}

.field-label {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.button {
  padding: 1rem 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #000;
  text-align: center;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.button.is-alternate {
  border-color: #fff;
  color: #fff;
}

.button.is-alternate:hover {
  background-color: #fff;
  color: #000;
}

.button.is-button-small {
  padding: 0.5rem 1.25rem;
}

.button.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  color: #000;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-width: 1px;
  border-color: #000;
  box-shadow: inset 0 0 0 1px #000;
}

.form-input::-webkit-input-placeholder {
  color: #a0a6b0;
}

.form-input:-ms-input-placeholder {
  color: #a0a6b0;
}

.form-input::-ms-input-placeholder {
  color: #a0a6b0;
}

.form-input::placeholder {
  color: #a0a6b0;
}

.form-input.is-select-input {
  background-color: #fff;
  background-image: none;
}

.form-input.is-text-area {
  overflow: auto;
  height: auto;
  min-height: 11.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.form-input.is-select-input {
  background-color: transparent;
  background-image: none;
}

.background-color-lightgrey {
  background-color: #f4f4f4;
}

.form-field-wrapper {
  position: relative;
}

.image-wrapper_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-color-black {
  color: #000;
}

.stylesystem-images_layout {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon-1x1-xxsmall {
  width: 1rem;
  height: 1rem;
}

.icon-1x1-xsmall {
  margin-bottom: auto;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.icon-1x1-large {
  width: 5rem;
  height: 5rem;
}

.form-radio-label {
  margin-bottom: 0px;
}

.margin-top-auto {
  margin-top: auto;
}

.text-lineheight-normal {
  line-height: 1.5;
}

.shadow-large {
  box-shadow: 0 20px 24px -4px rgba(0, 0, 0, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
}

.text-lineheight-xshort {
  line-height: 1.2;
}

.text-lineheight-xtall {
  line-height: 2;
}

.icon-medium {
  height: 3rem;
}

.text-lineheight-none {
  line-height: 1;
}

.text-lineheight-short {
  line-height: 1.3;
}

.shadow-xsmall {
  box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.1), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
}

.shadow-xxsmall {
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.icon-large {
  height: 5rem;
}

.button-tertiary {
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
}

.button-tertiary.is-button-small {
  padding: 0.5rem 1.25rem;
}

.button-tertiary.is-alternate {
  border-color: #464646;
  background-color: #464646;
  color: #fff;
}

.button-tertiary.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.button-link {
  display: flex;
  padding: 0.25rem 0rem;
  align-items: center;
  background-color: transparent;
  color: #000;
  line-height: 1;
  text-decoration: none;
}

.button-link.is-alternate {
  color: #fff;
}

.button-link.with-icon {
  grid-column-gap: 0.5rem;
}

.button-link.with-icon:hover {
  text-decoration: underline;
}

.icon-xsmall {
  height: 1.5rem;
}

.shadow-medium {
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.icon-xxsmall {
  height: 1rem;
}

.text-lineheight-tall {
  line-height: 1.7;
}

.icon-small {
  height: 2rem;
}

.form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.class-label-column {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.shadow-small {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
}

.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.dropdown-icon {
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
}

.button-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button-row.is-button-row-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-overlay-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.header5_background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-100vh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 60rem;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery2_lightbox-link {
  width: 100%;
  height: 100%;
}

.section-header65 {
  position: relative;
}

.header65_background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.success-message {
  padding: 1.5rem;
  background-color: #f4f4f4;
}

.contact2_component {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact2_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.error-text {
  color: #e23939;
}

.form-radio-2col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.875rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-field-2col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.success-text {
  font-weight: 600;
}

.contact5_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact5_contact-list {
  display: -ms-grid;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-contact_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact5_icon-wrapper {
  margin-right: 1rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.section-contact5 {
  padding-top: 6rem;
}

.contact5_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.contact-contact_form-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.header-description_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-about_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1.5fr minmax(25rem, 1fr);
  grid-template-columns: 1.5fr minmax(25rem, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.home-about_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-attractions_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: minmax(25rem, 1fr) 1.5fr;
  grid-template-columns: minmax(25rem, 1fr) 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.home-attractions_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-section-feature {
  position: relative;
  max-height: 70vh;
  min-height: 35rem;
}

.home-feature_background-image-wrapper {
  position: relative;
  z-index: -1;
  max-height: 70vh;
  min-height: 35rem;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.home-feature_background-image {
  width: 100%;
  max-height: 70vh;
  min-height: 35rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.accommodation-section-header {
  position: relative;
  padding-right: 3rem;
  padding-left: 3rem;
}

.accommodation-header_component {
  position: relative;
}

.accommodation-header_content-wrapper {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 60rem;
  min-height: 37.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.accommodation-header_overlay {
  z-index: 0;
  width: 90%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent);
}

.accommodation-header_content {
  position: relative;
  z-index: 1;
  max-width: 44.75rem;
}

.accommodation-header_background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.accommodation-header_overlay-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.a-item-section-details {
  background-image: url('../assets/img/beach-sand.png');
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.a-item-details_component {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.a-item-details_content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-item-details_list {
  margin-bottom: 0.75rem;
}

.a-item-details_item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 2.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 1rem;
}

.a-item-details_features-wrapper {
  padding: 2.5rem;
  background-color: hsla(0, 0%, 100%, 0.15);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.a-item-details_item-label {
  margin-top: -0.125rem;
}


.arrows:active {
  border: 0px solid #000;
}

.arrows:focus {
  border: 0px solid #000;
}

.booking-section-contact {
  padding-top: 6rem;
  background-image: url('../assets/img/Spinning-Reel-PA-PamGPA-31-of-191.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.booking-contact_component {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.booking-contact_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-input-date {
  width: 100%;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.75rem 3.25rem 0.75rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #000;
  font-size: 14px;
}

.form-input-date:focus {
  border-width: 1px;
  border-color: #000;
  box-shadow: inset 0 0 0 1px #000;
}

.form-input-date::-webkit-input-placeholder {
  color: #a0a6b0;
}

.form-input-date:-ms-input-placeholder {
  color: #a0a6b0;
}

.form-input-date::-ms-input-placeholder {
  color: #a0a6b0;
}

.form-input-date::placeholder {
  color: #a0a6b0;
}

.form-input-date-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-field-icon {
  position: absolute;
  top: auto;
  right: 1rem;
  bottom: auto;
}

.contact-section-contact {
  padding-top: 6rem;
  background-image: url('../assets/img/Spinning-Reel-PA-PamGPA-31-of-191.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-contact_contact-list {
  display: -ms-grid;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact-contact_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.home-header_overlay {
  z-index: 0;
  width: 90%;
  height: 100%;
  max-height: 90vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent);
}



//Font sizes
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .header-description_component {
    padding-top: 3.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .accommodation-header_component {
    position: relative;
  }
}

@media screen and (max-width: 991px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 1rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4.5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .dropdown-icon {
    left: auto;
    top: auto;
    right: 0%;
    bottom: auto;
    margin-top: 0rem;
    margin-right: 0px;
    margin-bottom: 0rem;
  }

  .contact-contact_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
  }

  .home-about_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .home-attractions_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .a-item-details_component {
    grid-column-gap: 3rem;
  }

  .booking-section-contact {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }


  .page-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .margin-xsmall {
    margin: 0.75rem;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .padding-xsmall {
    padding: 0.75rem;
  }

  .padding-small {
    padding: 1.25rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .text-size-large {
    font-size: 1.125rem;
  }

  .form-field-2col.is-mobile-1col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-contact_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-about_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-attractions_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-section-feature {
    min-height: 20rem;
  }

  .home-feature_background-image-wrapper {
    min-height: 20rem;
  }

  .home-feature_background-image {
    min-height: 20rem;
  }


  .accommodation-section-header {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .accommodation-header_background-image {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .a-item-details_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.8rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .page-padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .form-input.is-text-area {
    width: 100%;
  }

  .stylesystem-images_layout {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-section-description-wrapper {
    padding-top: 3.5rem;
  }

  .contact-contact_component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-contact_form-block {
    width: 100%;
  }

  .home-about_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-attractions_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home-section-feature {
    height: 15rem;
    max-height: none;
    min-height: auto;
  }

  .home-feature_background-image-wrapper {
    height: 15rem;
    max-height: none;
    min-height: auto;
  }

  .home-feature_background-image {
    height: 15rem;
    max-height: none;
    min-height: auto;
  }

  .accommodation-section-header {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .accommodation-header_content-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .accommodation-header_background-image {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .a-item-details_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .booking-contact_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: stretch;
  }

  .recaptcha-wrapper {
    margin-left: -18%;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .contact-contact_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}


/* Snippet makes all link elements listed below to inherit color from their parent */
a,
.w-nav-link {
  color: inherit;
}

/* Make sure containers never lose their center alignment*/
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/*Reset selects, buttons, and links styles*/
.w-input,
.w-select,
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width:1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}

@media screen and (max-width:1440px) {
  html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
  }
}

@media screen and (max-width:479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  // font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.w-block {
  display: block;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

button,
[type='button'],
[type='reset'] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
  color: #999;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus,
.w-select:focus {
  border-color: #3898EC;
  outline: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
  cursor: not-allowed;
}

.w-input[disabled]:not(.w-input-disabled),
.w-select[disabled]:not(.w-input-disabled),
.w-input[readonly],
.w-select[readonly],
fieldset[disabled]:not(.w-input-disabled) .w-input,
fieldset[disabled]:not(.w-input-disabled) .w-select {
  background-color: #eeeeee;
}

textarea.w-input,
textarea.w-select {
  height: auto;
}

.w-select {
  background-color: #f3f3f3;
}

.w-select[multiple] {
  height: auto;
}

.w-form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0px;
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.w-dyn-empty {
  padding: 10px;
  background-color: #dddddd;
}
