<section class="a-item-section-details">
  <div class="page-padding">
    <div class="container-large">
      <div class="padding-vertical padding-large">
        <div class="w-layout-grid a-item-details_component">
          <div class="a-item-details_content">
            <div class="margin-bottom margin-small">
              <h2>Overview</h2>
            </div>
            <div class="margin-bottom margin-small">
              <p class="text-size-medium"></p>
            </div>
            <div class="text-size-medium w-richtext">
              <p>All units have:</p>
              <ul role="list">
                <li>Fantastic sea views</li>
                <li>Access to tennis court on the premises</li>
                <li>Kiddies tidal pool, ideal for little ones</li>
                <li>Private access to the beach</li>
                <li>Close to golf course</li>
              </ul>
            </div>
            <div class="margin-top margin-medium">
              <div class="button-row">
                <a href="#"
                   class="button-secondary w-button">Book Now</a>
              </div>
            </div>
          </div>
          <div class="a-item-details_features-wrapper">
            <div class="a-item-details_list-wrapper w-dyn-list">
              <div role="list"
                   class="a-item-details_list w-dyn-items">
                <div role="listitem"
                     class="a-item-details_item w-dyn-item">
                  <div class="a-item-details_item-wrapper">
                    <img src=""
                         loading="lazy"
                         alt=""
                         class="icon-1x1-xsmall">
                    <div class="a-item-details_item-label">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-dyn-empty">
                <div>No items found.</div>
              </div>
            </div>
            <p class="text-size-small">Rates vary due to the different types of accommodation and according to the
              number of people. We offer great value for money. Please contact us for a firm price.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="a-item-section-gallery">
  <div class="container-xlarge">
    <div class="padding-vertical padding-large">
      <div data-w-id="7274c3a1-d651-2e2e-9f5e-0b962a62706c"
           style="opacity:0"
           class="splide slider1">
        <div class="splide__track w-dyn-list">
          <div role="list"
               class="splide__list w-dyn-items">
            <div role="listitem"
                 class="splide__slide w-dyn-item">
              <a href="#"
                 class="a-item-gallery_lightbox-link w-inline-block w-lightbox">
                <div class="a-item-gallery_image-wrapper"><img src=""
                       loading="lazy"
                       alt=""
                       class="a-item-gallery_image"></div>
                <script type="application/json"
                        class="w-json">
                  {
                    "items": [],
                    "group": "gallery"
                  }

                </script>
              </a>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div class="splide__arrows">
          <div class="arrows w-embed">
            <button class="splide__arrow splide__arrow--prev"></button>
          </div>
          <div class="arrows w-embed">
            <button class="splide__arrow splide__arrow--next"></button>
          </div>
          <div class="splide-arrows-wrapper">
            <a href="#"
               class="splide__arrow splide__arrow--prev w-button"></a>
            <a href="#"
               class="splide__arrow splide__arrow--next w-button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="a-item-section-accomodation">
  <div class="container-large">
    <div class="padding-vertical padding-xhuge">
      <div class="page-padding">
        <div class="margin-bottom margin-xhuge">
          <h2>Other Accommodation</h2>
        </div>
      </div>
      <div class="a-item-accomodation_component">
        <div class="a-item-accomodation_list-wrapper w-dyn-list">
          <div role="list"
               class="a-item-accomodation_list w-dyn-items">
            <div role="listitem"
                 class="a-item-accomodation_item w-dyn-item">
              <div class="a-item-accomodation_item-wrapper">
                <div class="a-item-accomodation_image-wrapper">
                  <img src=""
                       loading="lazy"
                       alt=""
                       class="a-item-accomodation_image"></div>
                <div class="a-item-accomodation_overlay-wrapper">
                  <div class="a-item-accomodation-description-wrapper">
                    <div class="margin-bottom margin-xxsmall">
                      <h3 class="text-color-white"></h3>
                    </div>
                    <div class="text-color-white"></div>
                  </div>
                  <a href="#"
                     class="button-link with-icon is-alternate w-inline-block">
                    <div>view</div>
                    <img src="../../../assets/img/svg/Chevron-Right-White.svg"
                         loading="lazy"
                         alt=""
                         class="icon-xxsmall">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
