@use '../../accommodation.component.scss';

.accommodation_component {
  position: relative;
}

.accommodation_list {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .accommodation_list {
    display: block;
  }
}