<div class="accommodation_component">
  <div class="accommodation_list">

    <app-accommodation-option-large *ngIf="hasLogCabin"
                                    class="container-large"
                                    backgroundImgSource="../../../assets/img/log-cabin/log-cabin-veranda.jpg"
                                    accommodationDescription="Cosy beach chalets."
                                    accommodationTitle="LOG CABINS"
                                    routerLink="/accommodation/chalets"></app-accommodation-option-large>

    <app-accommodation-option-large *ngIf="hasVermont"
                                    class="container-large"
                                    backgroundImgSource="../../../assets/img/vermont/vermont-lounge.jpg"
                                    accommodationDescription="A luxury alternative to the log chalet."
                                    accommodationTitle="VERMONT CHALET"
                                    routerLink="/accommodation/chalets"></app-accommodation-option-large>

    <app-accommodation-option-large *ngIf="hasBeachCottages"
                                    class="container-large"
                                    backgroundImgSource="../../../assets/img/cottage/cottage-entrance.jpg"
                                    accommodationDescription="Fantastic sea views in a private, natural, setting."
                                    accommodationTitle="BASIC BEACH COTTAGES"
                                    routerLink="/accommodation/beach-cottages"></app-accommodation-option-large>

    <app-accommodation-option-large *ngIf="hasBAndB"
                                    class="container-large"
                                    backgroundImgSource="../../../assets/img/b-and-b/b-and-b-top-coffee-view.jpg"
                                    accommodationDescription="Luxury rooms with their own entrance and great views."
                                    accommodationTitle="BED AND BREAKFAST"
                                    routerLink="/accommodation/bed-and-breakfast"></app-accommodation-option-large>

  </div>
</div>
