<app-header-bar></app-header-bar>
<div class="page-padding">
  <div class="container-large">
    <div class="header-description_component">
      <div class="text-align-center">
        <div class="home-header-description">
          <p>Situated in the heart of the Sunshine Coast, Spinning Reel offers a restful,
            comfortable and secluded holiday break for families, romantic getaways, or a re-charging stopover
            for the weary traveler.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-accommodation [isSummary]="false"></app-accommodation>

<app-about></app-about>

<app-attractions></app-attractions>

<app-testimonials></app-testimonials>

<app-feature></app-feature>

<app-footer></app-footer>
