<app-header-bar></app-header-bar>

<div class="home-description">
  <p>Situated in the heart of the Sunshine Coast, Spinning Reel offers a restful,
    comfortable and secluded holiday break for families, romantic getaways, or a re-charging stopover
    for the weary traveler.</p>
</div>

<app-accommodation [isSummary]="false"></app-accommodation>

<app-about></app-about>

<app-attractions></app-attractions>

<app-testimonials></app-testimonials>

<app-feature></app-feature>

<app-footer></app-footer>
