<app-header-bar></app-header-bar>

<div class="page-padding">
  <div class="home-header-description text-align-center align-center">
    <h3>Situated in the heart of the Sunshine Coast, Spinning Reel offers a restful,
      comfortable and secluded holiday break for families, romantic getaways, or a re-charging stopover
      for the weary traveler.</h3>
  </div>
</div>
<div class="home-video">
  <iframe [src]="safeSpinningReelDetailedVideo"
          frameborder="0"
          allowfullscreen></iframe>
</div>

<app-accommodation [isHomeView]="true"></app-accommodation>

<app-about></app-about>
<div class="home-video">
  <iframe [src]="safeSpinningReelFlyoverVideo"
          frameborder="0"
          allowfullscreen></iframe>
</div>

<app-attractions></app-attractions>
<div class="home-video">
  <iframe [src]="safePortAlfredFlyoverVideo"
          frameborder="0"
          allowfullscreen></iframe>
</div>

<app-testimonial-carousel></app-testimonial-carousel>

<app-feature></app-feature>

<app-footer [isHomePage]="true"></app-footer>
